.income {
    position:relative;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    justify-content: space-evenly;
    background-color: '#def2f1';
  }

  .contentTitle {
    text-align: left;
  }

  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .text {
    text-align: left;
    padding-left: 10%;
  }
