
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');


.income {
    font-family: 'Sora', sans-serif;
    position:relative;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    justify-content: space-evenly;
    background-color: '#def2f1';
  }

  .contentTitle {
    text-align: left;
    padding-left: 25px;
  }

  .columnleft {
    float: left;
    width: 70%;
  }

  .columnright {
    float: right;
    width: 30%;
  }

  .columnleftleft {
    float: left;
    width: 70%;
    scale: 75%;
  }

  .columnleftright {
    float: right;
    width: 30%;
    align-items: center;
    transform: translateY(200px);
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .text {
    text-align: left;
    padding-left: 10%;
  }

  .banner {
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: #2b7a78;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-self: stretch;
    color: #fff;
  }
  
  .title {
    justify-self: flex-start;

  }
  
  .content {
    justify-self: flex-start;
  }

 .BannerText {
  transform: translateX(25px)
 }

 .Legend {
  background-color: #415e4a;
  padding: 20px;
  height: 100%;
  width: 50%;
 }

 .Savingstext {
  color: #bee7e8;
 }

 .Foodtext{
  color: #a0d2db;
 }

 .Personaltext{
  color: #7d8cc4;
 }

 .Transportationtext{
  color: #726d88;
 }

 .Cudistext{
  color: #665780;
 }

 .Housingtext{
  color: #594157;
 }