.App {
  text-align: center;
}

.title {
  margin: 50px 0;
  font-family: 'Belleza', sans-serif;
  font-size: 50px;
  color: #1D49AE;
}

button {
  background-color: #ED6A5A;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: white
}